.bubble{
    position: absolute;
    z-index: 1;
    background-color: #1589e9;
    filter: blur(200px);
    border-radius: 50%;
    width: 20rem;
    height: 20rem;
    display: block;
    top: -8%;
    bottom: auto;
    left: -13%;
    right: auto;
}